@model Contact.MvcUI.ViewModel.ContactViewModel

@{
    ViewBag.Title = "ContactDetail";
}

<center> <h1> CONTACT DETAILS OF : @Html.DisplayFor(model => model.FirstName) </h1></center>
&nbsp;&nbsp;&nbsp;&nbsp;
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ContactId) </th>
                <th>@Html.DisplayNameFor(model => model.FirstName) </th>
                <th>@Html.DisplayNameFor(model => model.LastName) </th>
                <th>@Html.DisplayNameFor(model => model.PhoneNumber) </th>
                <th>@Html.DisplayNameFor(model => model.Email) </th>
                <th>@Html.DisplayNameFor(model => model.Status) </th>
            </tr>
        </thead>
        
            <tr>
                <td>@Html.DisplayFor(model => model.ContactId)</td>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
                <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Status)</td>
            </tr>
    </table>
<p>
    <a href="@Url.Action("CreateOrUpdateContactInformation","Contact")" class="btn btn-default">Edit Contact</a>
    <a href="@Url.Action("ContactListView","Contact")" class="btn btn-default">Back to Contact</a>

</p>
